@model IEnumerable<LivrariaTJ.Models.Livro>

@{
    ViewBag.Title = "Gerenciamento de Publicações";
}

    <h2>Gerenciamento de Publicações</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<p>
    @Html.ActionLink("Pesquisar", "Pesquisar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPaginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinopse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagemCapa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinksParaCompra)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td>
                <img src="@Url.Content(item.ImagemCapa)" alt="IMAGES" width="30" height="40" />
            </td>
            <td>
                <a href="@item.LinksParaCompra" target="_blank">Comprar</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LivroID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LivroID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LivroID })
            </td>
        </tr>
    }

</table>
